/*
Váriavéis dentro do processo. 
*/
:root{
    --main-color:#e080a0;
    --link-color:#666666;
    --textl:#999;
    --hightlight-text:#333333;
    --input-text:#555555;
    --fundo-color:#FFB6C1;
    --points-list:#CCCC;
    --line-input:#D9D9D9;   
}
/*
Fontes
*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../Fontes/Poppins/Poppins-Regular.ttf')
}
@font-face {
    font-family: Poppins-Medium;
    src: url('../Fontes/Poppins/Poppins-Medium.ttf')
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../Fontes/Poppins/Poppins-Bold.ttf')
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../Fontes/Poppins/Poppins-SemiBold.ttf')
}

/*
    Zerar estilos da página
*/

* {
    padding:0;
}

body { 
    font-family: Poppins-Regular, sans-serif;
    overflow: hidden;
    line-height: inherit;
    counter-reset: katexEqnNo mmlEqnNo;
}

body, html{
    height:100%;
}
 
ul, li{
    margin: 0;
    list-style-type: none;
}

input, button {
    outline: none !important;
    border: none;

}

button:hover {
    cursor: pointer;
}

/* 
    Utilitários 
*/

.text1{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--text1);
    line-height: 1.2;
    margin-left: 85px;
    margin-bottom: 5px;
}

.text2{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
}

.margin-bottom-35 {
    margin-bottom: 35px;

}

.margin-top-35 {
    margin-top: 35px;
    
}

.margin-bottom-8 {
    margin-bottom: 8px;

}

.margin-top-8 {
    margin-top: 8px;
    
}

.margin-left-50 {
    margin-left: 50px;
    
}

/* 
    Login
*/

.container {
    display: flex;
    justify-content: space-between;
}

.container-login{
    height: 90%;
    min-height: 98vh; /*Coorigir a altura do Background */
    display: flex;
    flex-wrap:wrap;
    justify-content: right;
    padding-right: 150px; /*deixar o form de login mais para a esquerda */
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--fundo-color);
    border-radius: 25px;
    margin-top: 1px; /*Coorigir a altura do Background */
}

.wrap-login {
    width: 370px;
    margin-right: 10% 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    background-color: var(#daa1b3);
    border-radius: 10%; /*Arredondar a shadown do form de login */
}

/* 
    Formulário
*/

.login-form {
    width: 100%;
    background-color: #eac7d2;
    border-radius: 10%; /*arredondar o form do login */

}

.login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 35px;
    color: var(--hightlight-text);
    line-height: 1.2;
    text-align: center;
}

/* 
    Input
*/

.wrap-input {
    width:100%;
    position:relative;
    border-bottom: 2px solid var(--line-input);
}

.input-form{
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;

}

.focus-input-form {
    position:absolute;
    display:block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input-form::before {
    content:"";
    display: block;
    position:absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--main-color);
}

.focus-input-form::after {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 5px;
    transition: all 0.4s;
}

.input-form:focus + .focus-input-form::after {
    top: -20px;
    font-size: 15px;

}

.input-form-focus + .focus-input-form::before {
    width: 100%;
    
}

.has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;

}

.has-val.input-form + .focus-input-form::before {
    width: 100%;
    
}

/*
    Botão
*/

.container-login-form-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form-btn {
    font-family: Poppins-Medium; 
    font-size: 16px;
    color: var(--fundo-color);
    line-height: 1.2;
    text-transform: uppercase; /*Letra Maiúscula*/
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 20px;
    width:100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.4s;
}

.login-form-btn:hover {
    background-color: var(--hightlight-text);
}

/*
    Links - Logins utlis
*/

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: var(--link-color);
    margin:0; 
    transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: var(--hightlight-text);
}
 .login-utlis {
    margin-top: 20px; 
 }

 .login-utlis li {
    position: relative;
    padding-left: 16px;
    padding-bottom: 5px;
 }

 .login-utlis li::before {
    content: "";
    padding-left: 1px;
    display: block;
    position: absolute; 
    width: 7px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--points-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0; 
    margin-left: 85px;
 }

 /*
    imagem Login
    
 */

 .image-container {
    display: block;
    align-items:center; /* Centraliza verticalmente */
    width: 280px 50%;
    height: 280px 10%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

}

.image-slider {
    overflow: hidden;
    position: absolute; /* Mude a posição para 'relative' */
    bottom: 115px;
    filter:drop-shadow(10px 8px 6px #ac8290);
    object-fit: cover;
    border-radius: 50%;
    z-index: 5;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-left: 10%;
    margin-top: 20%;
}

.image-ani {
    animation-name: image-ani;
}

@keyframes image-ani {
    0% {transform:rotateY(0);}
    50% {transform:rotateY(90deg);}
}