
.page-header {
  background: #E4CCCC;
  display: block;
}

.page-header h1 {
  display: inline-block;
  font-size: 24pt;
  font-family: sans-serif;
  margin: 20px 30px;
}

.page-content {
  display: block;
}

input.btn-localizar {
  margin: 20px 0px;
}

.container table {
  border-collapse: collapse;
  width: 100%;
}

.container table .table-header {
  background-color: #EDEDED;
}

.container table td {
  padding: 5px;
}

.container table .table-row:nth-child(even) {
  background-color: #F9F9F9;
}

.container table .table-row:nth-child(odd) {
  background-color: #F4F4F4;
}
.container table .table-row .table-icons {
  display: block;
  float: right;
}

.container table .table-row .table-icons i {
  
}

.table-footer {
  margin-top: 20px;
}

.product {
  text-align: right;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
}

.cancel-button:hover {
  background-color: #da190b;
}

input[type="date"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  display: 340px;
  align-items:left;
}
input[type="text"], input[type="number"], input[type="date"] {
  background: #ffff;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px #c0c0c0);
}

.input-group {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 24px;
  margin-top: 40px;
}
.input-group label {
  width: 150px;
  text-align: left;
  margin-right:10px;
}
.input-group input, .input-group select {
  width: 100px;
  margin-left: 100px;
}
.input-group .quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  margin-left: 10px;
}
.input-group .quantity input[type="number"] {
  width: 100px;
  margin-right: 10px;
}
.input-group .quantity button {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}
.input-group .validade {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  margin-left: 10px;
}
.input-group .validade input {
  width: 100px;
  margin: 0 10px;
}
.input-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.input-field label {
  width: 150px;
  text-align:left;
  margin-right: 10px;
}

.input-field input[type="number"],
.input-field span {
  width: 100px
}

.input-field input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.input-field input[type="radio"] {
  margin-right: 10px;
}
.autofill {
  font-weight: bold;
  color: #666;
}